body{
    font-family: 'Noto Sans JP', sans-serif;
}
.main-section{
    margin-bottom: 50px;
    background-image: url(images/Back-ground/Great-Small-Restaurant-Interior-Designs.jpg);
    padding-bottom: 15%;
}
.main-title{
    color: white;
    text-align:center;
    margin-top: 10%;
    font-family: 'Great Vibes', cursive;
}
.space{
    margin-left: 40px;
}
h1 span{
    color:coral
}
h1{
    font-size: 50px;
}
.upper-part{
    display: flex;
    width: 90%;
    margin-bottom: 50px;
    padding-left: 40px;
}
.anchor-button{
    background-image: linear-gradient(coral , orange);
    border-radius: 30px;
    text-decoration: none;
    padding: 13px 20px;
    color: white;
}
.width-adjust img{
    width: 80%;
}
.width-adjust{
    width: 50%;
    padding-left: 50px;
    padding-right: 30px;
}
h2{
    color: teal;
}
.second-part{
    display: flex;
    margin-bottom: 50px;
    background-image: url(images/shapes/7.png);
}
.alignment{
    text-align: center;
}
.recepies{
    display: flex;
    padding-left: 40px;
}
.recepies img{
    width: 100%;
}
.recepies div{
    box-shadow: 1px 1px 6px gray;
    width: 25%;
    margin-left: 40px;
    padding: 20px 20px;
    border-radius: 20px;
}
.third-part{
    margin-bottom: 50px;
}
.engagement{
    display: flex;
    box-shadow: 1px 1px 6px gray;
    width: 88%;
    border-radius: 20px;
    margin-left: 80px;
    margin-bottom: 80px;
}
.engagement div{
    margin-left: 190px;
}
.bottom{
    text-align: center;
    background-color: black;
    height: 200px;
}
.bottom p{
    color: white;
    font-family:Courier, monospace;
}
.name{
    color:#146368;
    padding-top: 30px;
}
.name span{
    color: yellowgreen
}
.customer{
    text-align: center;
    color: yellowgreen
}
.engagement-customer{
    display: flex;
}
.engagement-customer div{
    box-shadow: 1px 1px 6px gray;
    width: 88%;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 80px;
    padding-left: 10px;
}